              <div class="panel panel-default">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
                  <div class="input-group">
                    <input type="text" class="form-control" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div>