    <!-- SEARCH PLACES -->
    <section class="darkSection">
      <div class="container">
        <div class="row gridResize">
          <div class="col-sm-3 col-xs-12">
            <div class="sectionTitleDouble">
              <p>Search</p>
              <h2>your <span>places</span></h2>
            </div>
          </div>
          <div class="col-sm-7 col-xs-12">
            <div class="row">
              <div class="col-sm-3 col-xs-12">
                <div class="searchTour">
                  <select name="guiest_id2" id="guiest_id2" class="select-drop">
                    <option value="0">Destinations</option>
                    <option value="1">District 1</option>
                    <option value="2">District 7</option>
                    <option value="3">District 2</option>            
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="searchTour">
                  <select name="guiest_id1" id="guiest_id1" class="select-drop">
                    <option value="0">Catologues</option>
                    <option value="1">luxury</option>
                    <option value="2">Chinesse</option>
                    <option value="3">North Trational</option>            
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="searchTour">
                  <select name="guiest_id3" id="guiest_id3" class="select-drop">
                    <option value="0">Price</option>
                    <option value="1">$20 - $40</option>
                    <option value="2">$40 - $100</option>
                    <option value="3"> > $100 </option>            
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="searchTour">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-xs-12">
            <a href="#" class="btn btn-block buttonCustomPrimary">Search</a>
          </div>
        </div>
      </div>
    </section>